@charset "utf-8";
/* CSS Document */

#page{
	
	
	}
	
#timage{
	text-align:center;
	margin-top:100px;
}

#middle{
	text-align:center;
	margin-top:20px;
	}
	
#inputtext{
	font-size:36px;
}
#inputbutton{
	font-size:36px;
	color:#0071c1;
}
	
#tbottom{
	margin-left:100px;
	margin-right:100px;
	margin-top:400px;
	border-top:1px solid #999;
	padding-top:10px;
	padding-bottom:40px;
	padding-left:200px;
	padding-right:200px;
	text-align:center;
	color:#666;

	
	}
	